*{
	color: whitesmoke;
	font-family: 'Source Sans Pro', sans-serif;
}


body{
	background: #1d1a05;
	margin: 0;
}

nav{
	padding: 10px;
	background-color: #ca3c25;
}

nav li{
	margin: 30px;
	display: inline;
	list-style: none;
	text-decoration: underline;
}

.pandas{
	margin: 20px;
	border: 5px solid #575757;
	display: inline-block;
	width: 150px;
	height: 150px;
}

.pand{
	margin-left: 250px;
}

.pand a{
	display: inline;
	padding: 10px 100px;
	background-color: #ca3c25;
	text-decoration: none;
}

.texto1, .texto2{
	float: left;
	width: 500px;
	margin: 50px 10px 30px 100px;
	text-align: justify;
}

footer{
	margin-left: 500px;
	clear: left;
	display: block;
	margin-bottom: 0;
}

.pandita{
	margin-left: 250px;
}

.pandita span{
	margin:3px;
}

.img1{
	background-image: url(../img/a1.jpg);
}

.img2{
	background-image: url(../img/a2.jpg);
}

.img3{
	background-image: url(../img/a3.jpg);
}

.img4{
	background-image: url(../img/a4.jpg);
}